{% extends "base.html.twig" %}

{% block main %}

    <!-- Ici je rajoute un bouton pour ajouter un nouvel auteur, il renvoie vers le formulaire d'ajout -->

    <a class="" href="{{ path ('admin_author_create') }}">Ajouter un Nouvel Auteur</a>
    <!-- Ici je fais une boucle pour que symfony affiche sur ma page HTML chacun des auteurs dans ma base de donnée
    // Ils sont dans un "grand" tableau, il faut donc faire en sorte que symfony fasse le tour du tableau et remonte chaque donnée qu'elle trouve => une boucle
    // Ici on demande que pour chaque auteur dans le grand tableau AUTHEURS, si l'auteur a un nom de famille "lastname" alors il faut afficher sur la page :
    // Son nom de famille et son prénom ! -->

    {% for author in authors %}
        {% if author.firstname %}

            <article class="lesauthors">
                    <h2>{{ author.firstname }}</h2>

                <!-- ici je crée une boucle pour afficher les livres des auteurs -->
                {% for book in author.books %}
                    <p>{{ book.title }}</p>
                {% endfor %}
                {% if author.deathDate %}
                    <h3>Mort le : {{ author.deathDate | date('D-m-Y') }}</h3>
                {% else %}
                    Cet auteur n'est malheureusement pas encore mort

                {% endif %}
                <!-- Ici je rajoute des boutons pour afficher, modifier ou supprimer un auteur
                 J'utilise la fonction "path" pour indiquer le chemin de mon lien vers l'un de mes formulaires -->
                    <br>
                    <a class="a_list" href="{{ path('admin_author',{'id': author.id}) }}">Voir Plus</a>
                    <br>
                    <a class="a_list" href="{{ path('admin_author_delete',{'id': author.id}) }}">Supprimer</a>
                    <br>
                    <a class="a_list" href="{{ path('admin_author_update',{'id': author.id}) }}">Update</a>
                    <br>
                </article>

        {% endif %}

    {% endfor %}

{% endblock main %}