{% extends "base.html.twig" %}

{% block main %}
<main class="lalisteentiere">

    {% for book in books %}
        {% if book.publishedAt %}

        <article class="lesbooks">
            <a href="{{ path('book', {"id": book.id}) }}"> <h2>{{ book.title }}</h2></a>
            <h3>{{ book.author }}</h3>
            <em> Published on :{{ book.publishedAt | date ('m/d/y') }}</em>
            <a class="a_list" href="{{ path('book',{'id': book.id}) }}">Voir Plus</a>
            <br>
            <a class="a_list" href="{{ path('book_remove',{'id': book.id}) }}">Supprimer</a>
            <br>
        </article>

        {% endif %}
    {% endfor %}

    </main>
{% endblock main %}