{% extends "base.html.twig" %}

{% block main %}
<main class="lalisteentiere">

    {% for book in books %}
        {% if book.publishedAt %}

        <article class="lesbooks">
            <a href="{{ path('admin_book', {"id": book.id}) }}"> <h2>{{ book.title }}</h2></a>
            {% if book.author %}
            <h3>{{ book.author.lastname }}</h3>
            {% endif %}
            <em> Published on :{{ book.publishedAt | date ('m/d/y') }}</em>
            <a class="a_list" href="{{ path('admin_book',{'id': book.id}) }}">Voir Plus</a>
            <br>
            <a class="a_list" href="{{ path('admin_book_delete',{'id': book.id}) }}">Supprimer</a>
            <br>
            <a class="a_list" href="{{ path('admin_book_update',{'id': book.id}) }}">Mettre à jour</a>

        </article>

        {% endif %}
    {% endfor %}

    </main>
{% endblock main %}