{% extends "base.html.twig" %}

{% block main %}
<main>

    {% for book in books %}
        {% if book.publishedAt %}

        <article>
            <a href="{{ path('book', {"id": book.id}) }}"><img width="400px" src="{{ book.image }}" alt="{{ book.title }}"></a>
            <h2>{{ book.title }}</h2>
            <h3>{{ book.author }}</h3>
            <p>{{ book.synopsis }}</p>
            <em> Published on :{{ book.publishedAt | date ('m/d/y') }}</em>
        </article>

        {% endif %}
    {% endfor %}

    </main>
{% endblock main %}