{% extends "base.html.twig" %}

{% block main %}

    <main>
        <article>
            <img width="400px" src="{{ book.image }}" alt="{{ book.title }}">
            <h2>{{ book.title }}</h2>
            <h3>{{ book.author }}</h3>
            <p>{{ book.synopsis }}</p>
            <em> Published on :{{ book.publishedAt | date ('m/d/y') }}</em>


        </article>
    </main>

{% endblock main %}